/*
Error: Undefined mixin 'flexParent'.
        on line 7 of timerDirective.scss, in `flexParent'
        from line 7 of timerDirective.scss

2: input[type="number"].focus {
3:   border: solid 5px #969696;
4: }
5: 
6: .inputRow, .controlRow {
7:   @include flexParent(row);
8:   width: 100%;
9:   justify-content: space-around;
10:   margin-top: 20px;
11:   margin-bottom: 20px;
12: 

Backtrace:
timerDirective.scss:7:in `flexParent'
timerDirective.scss:7
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:338:in `block in visit_mixin'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/stack.rb:98:in `with_mixin'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `each'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/exec/base.rb:52:in `parse'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/lib/sass/exec/base.rb:19:in `parse!'
/Users/cparker/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.7/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'flexParent'.\A         on line 7 of timerDirective.scss, in `flexParent'\A         from line 7 of timerDirective.scss\A \A 2: input[type=\"number\"].focus {\A 3:   border: solid 5px #969696;\A 4: }\A 5: \A 6: .inputRow, .controlRow {\A 7:   @include flexParent(row);\A 8:   width: 100%;\A 9:   justify-content: space-around;\A 10:   margin-top: 20px;\A 11:   margin-bottom: 20px;\A 12: "; }
