$headerColor: rgb(37, 36, 50);
$centerColor: rgb(37, 36, 50);
$footerColor: rgb(37, 36, 50);
$leftNavColor: lightblue;

$startButtonColor: green;
$stopButtonColor: red;
$timerConfigBackgroundColor:  rgba(59, 60, 63, 0.82);
$timerDigitColor: rgb(255, 252, 196);