

.manage-voice-prompts {
  border:1px solid red;
  .title {
    width:25%;

    .title-label {

      margin-right:10px;
      width:50%;
      font-weight: bold;
      text-align: right;
      display:inline-block;
    }
  }
}
