<ul class="saved-timers">
  <li><b>Saved Timers:</b></li>
  <li class="left-nav-item"><a href="#" ng-click="toggleBurger()">Fran</a></li>
  <li class="left-nav-item"><a href="#">Long Count Up</a></li>
  <li class="left-nav-item"><a href="#">Short Interval</a></li>
  <li class="left-nav-item"><a href="#">DK's Pain Cave</a></li>
  <li class="left-nav-item"><a href="#">Bailey's Hurt Locker</a></li>
</ul>

<ul class="timer-types">
  <li><b>Choose Timer Type:</b></li>
  <li class="left-nav-item"><a href="#/countUp" ng-click="toggleBurger()">Count Up</a></li>
  <li class="left-nav-item"><a href="#/countDown" ng-click="toggleBurger()">Count Down</a></li>
  <li class="left-nav-item"><a href="#/tabata" ng-click="toggleBurger()">Count Interval / Tabata</a></li>
</ul>

<ul class="other-actions">
  <li><b>Other Actions:</b></li>
  <li class="left-nav-item"><a href="#/manageVoicePrompts" >Manage Voice Prompts</a></li>
  <li class="left-nav-item"><a href="#/preferences">Edit Preferences</a></li>
</ul>

