<label>Enter a number of seconds to count down</label>
<input type="number" min="0" ng-model="enteredSeconds"/>
<input type="button" value="start" ng-click="startCountdown()"/>

<h1>{{currentTimerString}}</h1>
<h1>{{done}}</h1>


<label>Click to record some audio</label>
<input type="button" value="start record" ng-click="startRecord()"/>
<input type="button" value="stop record" ng-click="stopRecord()"/>
<input type="button" value="play" ng-click="play()"/>

<audio controls>
    <source src="{{audioURL}}"/>
</audio>

<a href="{{audioURL}}">playme.wav</a>

<pre>{{audioURL}}</pre>
<pre>{{status}}</pre>

